body{
    background-color: white;
    font-family: Helvetica, sans-serif;
}

h1{
    width: 800px;
    margin: 10px auto 0px;
    background-color: rgb(90, 100, 166); 
    text-align: center;
    color: white;
    padding: 5px;
}

img{
    height:200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h2{
    width: 800px;
    margin: 10px auto;
    text-align: center;
}

p{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

ul, ol{
    width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style-position: inside;
}


li{
    margin: 0;
    padding: 0;
    text-align: center;
}

div{
    width: 800px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    background-color: rgb(235, 232, 232);
    
}

button{
    margin: 20px auto 5px;
}
a{
    text-decoration: none;
    color: black;
}