body{
    font-family: Helvetica, sans-serif;
    background-color: white;
}

.header{
    width:800px;
    margin: 0px auto;
    background-color: rgb(90, 100, 166); 
    text-align: center;
}

.list{
    width:800px;
    text-align: center;
    margin: 0px auto;
    background-color: rgb(235, 232, 232);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header h1{
    padding: 5px;
    margin: 0;
    color: white;
}

li{
    display:inline-block;
    margin: 5px 50px;
}

img{
    display:block;
}